body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.main {
  height: 75vh;
  align-self: center;
}

.weather-display,
.search-bar {
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}
